@charset "utf-8";

/* CSS Document */

body{
    background-color: #1e232b;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
    padding:0px;
    margin: 0px;
}

a{
    text-decoration: none;
}
.font1{
    font-family:Karla,sans-serif;
    color: #e7e4e4;
    font-size: 16px;
    font-weight: 500;
}
.font2{
    font-family:Karla,sans-serif;
    color: #e7e4e4;
    font-size: 18px;
    font-weight: 700;
}
.font3{
    font-family:Karla,sans-serif;
    color: #e7e4e4;
    font-size: 30px;
    font-weight: 700;
}
.font4{
    font-family:Karla,sans-serif;
    color:#4a90e2;;
    font-size: 24px;
    font-weight: 600;
   
}

section{
    width: 100%;
    height: 100%;
    background-color: #1e232b;
    background-size: cover;
}
/* navigation */
nav{
    display: grid;
    height: 150px;
    background-color: black;
}
.nav-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-top ul {
    display: flex;
    align-items: center;
}
.nav-top ul li{
    margin:5px; 
}
/* search */
.logo{
    margin: 16px;
    font-family:'Bebas Neue', cursive;
    color: #ffffff;
    font-size: 45px;
    /* text-shadow: 0 2px 0 #d84f4f, 0 4px 0 #d54646, 0 6px 0 #ce3333, 0 8px 0 #b92e2e, 0 10px 0 #912525, 0 12px 0 #721e1e, 0px 12px 10px rgba(0,0,0,0.5);      */
}
.search-bar {
    background: #1d1d1e;
    height: 20px;
    border-radius: 20px;
    padding: 7px;
   }
   
   /* .search-bar:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
   } */

   .search-btn {
    color: #e84118;
    float: right;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    background: #1d1d1e;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
   }
   .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 250px;
    font-weight: 500;
   }
#cart-icon{
    width: 35px;
    height: 20px;
}
.nav-top ul li a:nth-child(1){
    font-family:Karla,sans-serif;
    color: #e7e4e4;
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}
/* nav-bottom */
.nav-bottom ul{
    display: flex;
  
}

.nav-bottom ul li a{
    margin:20px;
    font-family: 'Roboto', sans-serif;
    color: #818181;
    font-size: 15px;
    font-weight: 700;
}
.nav-bottom .nav-active,.nav-bottom ul li a:hover{
    color: #ffffff;
    font-size: 16px;
    /* text-shadow: 0 1px 0 #d84f4f, 0 2px 0 #d54646, 0 3px 0 #ce3333, 0 4px 0 #b92e2e, 0 5px 0 #912525, 0 6px 0 #721e1e, 0px 6px 5px rgba(0,0,0,0.5); */
}
/* ----------------------------slideshow-------------------------- */
/* Slideshow container */
.slideshow-container {
    max-width: 10000px;
    position: relative;
    margin: auto;
    object-fit: cover;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    position: relative;

    height: 4px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(207, 207, 207);
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #5e5e5e;
  }
  
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

  /* --------------jambo-box--------------- */
.jambo-box{
    margin-block-start: 15px;
    width: 48%;
    height: 250px;
    display: inline-block;
    background-color: #393e46;
    margin-inline-start: 15px;
}
.jambo-img{
    margin: 2%;
    width: 48%;
    height: 90%;
    display: inline-block;
    
}
.jambo-text-btn{
    display: inline-grid;
    vertical-align: top;
    width: 47%;
    margin-top: 10%;
}
.jambo-text-btn ul li a{
    /* margin:27%; */
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 160%;
    font-weight: 700;

}
.jambo-btn{
    width: 90%;
    background-color: #222222;
    color: white;
    border: none;
    padding: 2%;
    margin-top: 7%;
    margin-left: 5%;
    font-size: 140%;
}
/* -----------------------video part-------------------- */
.video-sec{
    width: 97%;
    height: 310px;
    background-color: #393e46;
    margin-block-start: 15px;
    margin-inline-start: 15px;
    margin-block-end: 15px;
}
.video-heading{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.video-heading a{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}
.video-box{
    width: 100%;
    height: 85%;
    display: flex;
}
.video-img{
    margin-inline: 0.7%;
    width: 32%;
    height: 87%;
}
.video-img ul {
    width: 100%;
    height: 100%;
}
.video-img ul li {
    width: 100%;
    height: 100%;
}
.video-img ul li:nth-child(2){
    display: flex;
    height: 10%;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 17px;
    font-weight: 550;
    margin-top: 1%;
}
/* ----------------------shopping section--------------- */
.shopping-box{
    width: 97%;
    height: 70px;
    display: flex;
    background-color: #393e46;
    margin-block-start: 15px;
    margin-inline-start: 15px;
    margin-block-end: 15px;
}
.shopping-shop{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 900;
    
}
.shopping-visit{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 900;
   
}
.shopping-card-box{
    width: 98%;
    height: 315px;
    display: flex;
    margin-inline-start: 8px;
    margin-block-end: 15px;
}
.shopping-card{
    margin-inline: 0.6%;
    width: 24%;
    height: 100%;
}
.shopping-card ul{
    width: 100%;
    height: 100%;
}
.shopping-card ul li{
    display: grid;
}
.shopping-card ul li{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}
.shopping-card ul li:nth-child(1){
    background-color: #393e46;
    margin-top:3%;
    margin-bottom: 1%;
    width: 100%;
    height: 82%;
   
}
/* ---------------FAQ Section------------ */
.faq-sec{
    width: 100%;
    height: 100%;
    display: flex;
}
.shopping-logo{
    width: 40%;
}
.shopping-img{
    width: 90%;
    height: 85%;
    position: relative;
    left: 3%;
    top: 10%;
    right: 5%;
    bottom: 5%;
}
.faq{
    margin-block-start: 6%;
    width: 59%;
    height: 100%;
    margin-inline-start: 1%;
}
.faq ul{
    height: auto;
    width: 100%;
}
.faq a{
    margin-block-end: 6%;
 }
.faq ul li{
    width: 100%;
    height: auto;
}
.faq-head{
    margin-block-end: 6%;
}


.faq-que{
    margin-block-start: 1%;
    width: 98%;
    height: 50px;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: #ebebeb;
    background-color:#393e46;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-que span{
    margin-inline-start: 2%;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
.faq-que i{
    margin-inline-end: 2%;
    /* rotate: 90deg; */
}
.faq-ans{
    display: none;
    width: 98%;
    height: auto;
    padding: 2%;
    line-height: 160%;
}
.faq-que:hover > #rotate {
    rotate: 90deg;
}
.faq-que:hover + .faq-ans {
    display: grid;   
}
.faq-ans ul {
    list-style: inside;
}
.delivery-box{
    width: 100%;
    height: 220px;
    background-image: linear-gradient(#1e232b,black);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.delivery-inside-box{
    margin-inline-start: 1.5%;
    margin-inline-end: 1.5%;
    width: 31%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #1e232b;;
}
.delivery-inside-box ul li{
    line-height: 155%;
}
/* -------------------------footer------------------------ */
.footer{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
}
.footer-box{
    margin-inline-start: 1.5%;
    margin-inline-end: 1.5%;
    width: 25%;
    height: 70%;
}
.footer-heading{
    margin-block-end: 5%;
}


.social-media{
    display: flex;
    justify-content: center;
}
.social-media li{
    margin-inline-start: 2%;
    margin-inline-end: 2%;
}

.footer-search {
    width: 100%;
    position: relative;
    display: flex;
}
  
.footer-searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    font-size: 80%;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    /* color: #9DBFAF; */
}
  
.footer-searchTerm:focus{
    color: #00B4CC;
}
  
.footer-searchButton {
    width: 40px;
    height: 34px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
  
  /*Resize the wrap to see the search bar change!*/
.footer-wrap{
    width: 100%;
    margin-top: 2%;
}

.poweredby{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: black;
}
.poweredby-box{
    color: white;
    margin-inline-end: 1.5%;
    margin-inline-start: 1.5%;
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
}
.poweredby-box ul {
    display: flex;
    width: 100%;
    height: 34%;
    justify-content: right;
}
.poweredby-box ul li{
    width: 6%;
    height: 25px;
    margin-inline-end: 0.5%;
    margin-inline-start: 0.5%;
    background-color: white;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.iconify{
    width: 75%;
}